body{
	font-family: Lato;
}

.header{
	height: 100px;
	max-width: 1600px;
	padding-top: 10px;
}

#xxx{
	height: 15px;
}


.sq1{
	width: 15px;
	height: 15px;
	margin-left: 232px;
	background-color: #15a4fa;
}
.sq2{
background-color: #2d3950;

width: 15px;

height: 15px;

margin-left: 251px;

margin-top: -11px;
}
.sq3{
width: 15px;

height: 15px;

margin-left: 251px;

margin-top: 4px;

background-color: #15a4fa;
}
.sq4{
background-color: #2d3950;

width: 15px;

height: 15px;

margin-left: 232px;

margin-top: -19px;
}
.strict{
	height: 22px;
	width: 104px;
	margin-left: 290px;
	margin-top: -29px;
	font-size: 20pt;
}

.logo{
height: 800px;

max-width: 1600px;

background-image: url(../images/Image@1X.png);
}

.logo1{
font-size: 70pt;
font-weight: bold;
height: 89px;
width: 415px;
padding-top: 217px;
margin-left: 593px;
color: white;
text-align: center;

}
hr{
	width: 600px;
	height: 2px;
	border-color:blue;
}

.logo50{
    margin: 25px auto;
    height: 0px;
    color: blue;
    line-height: 40px;
    line-height: 40px;
    text-align: center;
}

.logo3{
	text-align: center;
	margin-top: 26px;
	font-size: 16pt;
	font-weight: bold;
	color: white;
}

.logo4{
text-align: center;
    font-size: 14pt;
    color: white;
    vertical-align: middle;
    border: 3px solid #fff;
    border-radius: 10px;
    height: 54px;
    width: 176px;
    margin-left: 715px;
    line-height: 54px;
    margin-top: 69px;
}

.logo5{
	color: white;
	text-align: center;
	padding-top: 190px;
}

.desc{
	height: 340px;
	max-width: 1600px;
	background-color: #f6f9f9;
}

.desc1{
	height: 38px;
	width: 388px;
	margin-left: 610px;
	padding-top: 81px;
	color: #2d3950;
	font-size: 20pt;
}
.desc2{
height: 81px;

max-width: 1101px;

margin-left: 253px;

color: #a7a8a8;

font-size: 14pt;

text-align: center;

margin-top: 36px;
	
}


.optimized{
	height: 340px;
	max-width: 1600px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: center;
}

.opblock{
	width: 255px;
	height: 220px;
	display: flex;
	flex-direction: column;
	align-items: center;
	

}

.opblock1{
	width: 100px;
	height: 100px;
	background-color: #48baff;
	display: flex;
	align-self: center;
}

.opblock2{
	margin: auto;
	line-height: 22px;
}

.opblock3{
	text-align: center;
	margin-top: 14px;
	color: #6b717e;
	font-size: 12pt;
}
.opblock4{
	text-align: center;
	color: #a1a1a1;
	font-size: 10pt;
	margin-top: 10px;
}

.showcase{
	height: 800px;
	max-width: 1600px;
	background-color: #f6f9f9;
}

.show1{
	margin-left: auto;
    padding-top: 59px;
    height: 37px;
    text-align: center;
    font-size: 20pt;
    color: #2d3950;
}

.show2{
	color: #909090;
	margin-left: auto;
	padding-top: 16px;
	height: 14px;
	text-align: center;
}

.show3{
	display: flex;
	flex-direction: row;
	padding-top: 57px;
	justify-content: space-around;
	height: 600px;
	flex-wrap: wrap;
	max-width: 1200px;
	margin: auto;
}

.show3_block{
	width: 360px;
	height:260px;
	margin: 0 auto;
}

.ground1{
    background: url('../images/Layer1.png') no-repeat center top;
}
.ground2{
    background: url('../images/Layer2.png') no-repeat center top;
}
.ground3{
    background: url('../images/Layer3.png') no-repeat center top;
}
.ground4{
    background: url('../images/Layer4.png') no-repeat center top;
}
.ground5{
    background: url('../images/Layer5.png') no-repeat center top;
}
.ground6{
    background: url('../images/Layer6.png') no-repeat center top;
}

p{
    opacity: 0;
    font-size: 30px;
    font-weight: 700;
    font-family: Lato;
    line-height: 260px;
    text-align: center;
    color: #fff;
    margin-top: 0px;
}
.show3_block:hover p{
    opacity: 1;
    background: rgba(43,169,242,0.8);
    cursor: pointer;
}

.stay{
	height: 700px;
	max-width: 1600px;
	background-image: url(../images/Layer36.png);
}

.stay1{
	text-align: center;
    font-size: 20pt;
    color: white;
    margin-top: -635px;
}

.stay3{
	color: white;
	margin-top: 50px;
	margin-left: auto;
}

.stay4{
	margin-top: 25px;
}

.stay5{
	margin-top: 25px;
}
.stay6{
	margin-top: 25px;
	margin-left: auto;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	color: white;
}
.stay61{
	width: 184px;
	height: 50px;
	padding-left: 25px;
}
.stay62{
	line-height: 50px;
	text-align: center;
	border: 1px solid;
	height: 50px;
	width: 190px;
	border-color: gray;
	border-radius: 5px;
}


.footer{
	height: 90px;
	max-width: 1600px;
}

.inp{
	background-color: transparent;
	color: gray;
	width: 553px;
	margin-left: 521px;
	border: 1px solid;
	padding: 15px;
	border-radius: 5px;
}

textarea{
	background-color: transparent;
	color: gray;
	width: 553px;
	margin-left: 521px;
	border: 1px solid;
	padding: 15px;
	border-radius: 5px;
	height: 150px;
}
#horns{
	opacity: 0.4;
}

button{
	background: transparent;

border: aliceblue;

color: white;
}

.footer1{
	display: flex;
	padding-top: 37px;
	justify-content: space-evenly;
	height: 90px;

}

.foot_block1{
	height: 40px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
}

.logo2{
	height: 40px;
	width: 40px;
	background-color: #15a4fa;
	margin-top: 0px;
	margin-right: 5px;
	color: blue;
	line-height: 40px;
	line-height: 40px;
	text-align: center;
	color: white;
}